<%- include('header'); -%>

<h2>About page</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta amet repudiandae exercitationem, doloremque est reprehenderit atque ab magni, facilis provident labore! Earum iste saepe explicabo a non deleniti. Ex, aspernatur.</p>

<%- include('footer'); -%>