<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>To Do List</title>
		<link rel="stylesheet" href="css/styles.css">
		<!-- Overrides the browser to not look for a favicon.ico in the root directory -->
		<link rel="icon" href="data:,">
	</head>
	<body>